.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 0 10px;
}
.left-icons,
.right-icons {
  display: flex;
  align-items: center;
  width: 50px;
}

.left-icons {
  justify-content: flex-start;
}

.right-icons {
  justify-content: flex-end; 
}

.left-icons button,
.right-icons button {
  padding: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--text-color);
}

.left-icons button:hover,
.right-icons button:hover {
  border-radius: 50%;
}

.left-icons button i,
.right-icons button i {
  font-size: 20px;
}

.title-container {
  flex: 1;
  text-align: center;
}

h1 {
  margin: 0;
  font-family: 'Dancing Script', cursive;
}

@media screen and (min-width: 400px) {
  .top-bar {
    max-width: 250px;
    margin: 0 auto; 
    padding: 0 20px;
  }

  .left-icons,
  .right-icons {
    flex: 0 0 auto; 
  }
}
