.theme__button{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 32px;
    cursor: pointer;
    user-select: none;
}

.theme__button:hover{
    animation: scale 1s infinite ease-in-out; 
}

@keyframes scale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}